@import url('./fonts.css');

.navbar {
  background-color: red;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

body {
  font-family: JosefinSans-Regular;
}
