.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  list-style: none;
  align-items: flex-start;
  font-size: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.nav-button {
  background-color: none;
  background: none;
  border: none;
  font-size: 1rem;
}
