.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}

.navbar-link {
  text-decoration: none;
}
