.modal-form-container {
  display: flex;
  flex-direction: column;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.modal-h4 {
  margin-bottom: 0.2rem;
}

.modal-h1 {
  margin-bottom: -0.5rem;
}
