.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar input {
  background-color: #ebf5f0;
  border: 2px solid #d0e1d8;
  height: 1.5rem;
  width: 20rem;
}

.search-bar input:focus {
  background-color: #dbe6e0;
  outline: none;
}

.results-list {
  height: 10rem;
  overflow-y: auto;
  width: 20.5rem;
  margin-top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #d0e1d8;
}

.result-item {
  margin-top: 0.2rem;
}

.result-item:hover {
  background-color: #ebf5f0;
  cursor: pointer;
}

.customize-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-pokemon-card {
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: -10px -10px 1px 1px #d0e1d8;
  height: 20rem;
  width: 50rem;
  padding: 1rem;
}

.pkmn-details {
  display: flex;
  justify-content: space-between;
}

.card-h2-details {
  border-bottom: 4px solid #ef5350;
  width: 55%;
}

.details-div {
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #daede3;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
}

.details-div-item {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-div-text {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-pokemon-form-container {
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: -10px -10px 1px 1px #d0e1d8;
  max-height: fit-content;
  width: 50rem;
  padding: 1rem;
  margin-top: 2rem;
}

.nickName-input {
  display: flex;
  flex-direction: column;
}

.general-info {
  display: flex;
  justify-content: space-between;
}

.custom-pkmn-input {
  margin-left: 0.5rem;
}

.customize-pokemon-button {
  border: none;
  background-color: #fbfbfb;
  font-weight: bold;
}

.customize-pokemon-button:hover {
  cursor: pointer;
}

.customize-pkmn-img {
  width: 100%;
}

.pokemon-img-stats-moves {
  display: flex;
  justify-content: space-between;
}

.pokemon-image {
  width: 22%;
}
